body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}
ul {
    /*list-style-type: none;*/
    margin: 0;
    padding: 0;
    display: flex;
    /*position: relative;*/
    position: absolute;
    top: 9%;
    left: 45%;

}
a {
    position: absolute;
    /*top: 50%;*/
    /*left: 50%;*/
    transform: translate(-50%, -50%);
    width: 180px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
}
header, h1, h3 {
    background-color: white;
    margin: 0;
    padding: 0;
}

/*CSS GRID*/
.wrapper {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
}

.wrapper > * {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    /* needed for the floated layout*/
    margin-bottom: 10px;
}

/* no grid support? */
.sidebar {
    float: left;
    width: 19.1489%;
}

.content {
    float: right;
    width: 79.7872%;
}

.header, .footer {
    grid-column: 1 / -1;
    /* needed for the floated layout */
    clear: both;
}
/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
    .wrapper > * {
        width: auto;
        margin: 0;
    }
}


.nav-li {
    list-style: none;
    position: absolute;
}


#li-projects {
    /*left: 50px;*/
}
#li-about {
    left: 100px;
    top: 75px;
}
#li-resume {
    left: 200px;
}
#li-contact {
    left: 300px;
    top: 75px;
}

#top-nav {
    height: 250px;
    width: 100%;
    /*background-color:   #fff;*/
    background: rgb(70, 0, 98);
    margin: 0;
}

/*CODE FOR PULSING LOGO BUTTON ON NAV-BAR*/
/*pulsing animation code was inspired and adapted from this youtube video:*/
/*https://www.youtube.com/watch?v=eIkwLeMluHY&t=207s&index=71&list=PLCSyOSvVq-UiXTXeiC6Ck9o0sx0xXTB3M*/
#logo-img {
    height: 75%;
    width: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
.pulse {
    height: 150px;
    width: 150px;
    transform: translate(50%, 50%);
    position: absolute;
    background: #366D7E;
    vertical-align: middle;
    /*border-radius: 50%;*/
    text-align: center;
    line-height: 150px;
    display: inline-block;
    /*margin-bottom: 25px;*/

}
.pulse:before,
.pulse:after
{
    content: '';
    display: block;
    position: absolute;
    border: 2px solid #ED661E;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    /*border-radius: 50%;*/
    animation: animate 1.5s linear infinite;
    opacity: 0;
    backface-visibility: hidden;
}
.pulse:after {
    animation-delay: .5s;
}
@keyframes animate
{
    0%
    {
        transform: scale(.5);
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform: scale(1.2);
        opacity: 0;
    }
}
/**/
a svg,
a svg rect
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: transparent;
}
a svg rect
{
    /*stroke: #fff;*/
    stroke: #ED661E;
    /*stroke: #366D7E;*/
    stroke-width: 4;
    transition: 1s;
    stroke-dasharray: 500,500;
    stroke-dashoffset: 0;
}
a:hover svg rect
{
    stroke-dasharray: 100,400;
    stroke-dashoffset: 220;
    /*stroke: #ED661E;*/
    stroke: #366D7E;
}

#landing-quote {
    color: #fff;
}