/*CODE FOR PULSING LOGO BUTTON ON NAV-BAR*/
/*pulsing animation code was inspired and adapted from this youtube video:*/
/*https://www.youtube.com/watch?v=eIkwLeMluHY&t=207s&index=71&list=PLCSyOSvVq-UiXTXeiC6Ck9o0sx0xXTB3M*/
#logo-img {
    /*height: 40%;*/
    /*width: auto;*/
    width: 4rem;
    height: 4rem;
    /*margin: 0 20px 10px 0;*/
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
@media screen and (max-width: 736px) {

    #logo-img {
        height: 3.2rem;
        width: 3.2rem;
    }
}
@media screen and (max-width: 480px) {

    .logo-img {
        height: 3rem;
        width: 3rem;
    }

}
.pulse {
    /*height: 150px;*/
    /*width: 150px;*/
    height: 5.5rem;
    width: 5.5rem;
    /*transform: translate(50%, 50%);*/
    position: absolute;
    /*background: #366D7E;*/
    vertical-align: middle;
    border-radius: 100%;
    text-align: center;
    line-height: 5.5rem;
    /*line-height: 150px;*/
    /*display: inline-block;*/
    /*margin-bottom: 25px;*/

}
@media screen and (max-width: 736px) {

    .pulse {
        height: 4.7rem;
        width: 4.7rem;
        line-height: 4.7rem;
    }
}
@media screen and (max-width: 480px) {

    .pulse {
        height: 4.5rem;
        width: 4.5rem;
        line-height: 4.5rem;
    }

}
.pulse:before,
.pulse:after
{
    content: '';
    display: block;
    position: absolute;
    border: 2px solid #ED661E;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 100%;
    animation: animate 1.5s linear infinite;
    opacity: 0;
    backface-visibility: hidden;
}
.pulse:after {
    animation-delay: .5s;
}
@keyframes animate
{
    0%
    {
        transform: scale(.5);
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform: scale(1.2);
        opacity: 0;
    }
}


/*CODE FOR LANDING PAGE NAV BAR ANIMATED BUTTONS*/
li {
    transform: translate(0%, 0%);

}
nav ul li {
    /*margin-top: 1.3rem;*/
    /*padding-left: 3rem;*/
}
nav ul {
    /*margin-left: 3rem;*/
}

/*nav ul li.colored-button {*/
/*transform: translate(-50%, -50%);*/
/*!*top: 1.35rem;*!*/
/*!*left: 3.75rem;*!*/
/*}*/
.colored-button {
    /*position: absolute;*/
    padding-left: 0;
    /*width: 180px;*/
    /*height: 60px;*/
    /*text-align: center;*/
    /*line-height: 60px;*/
    /*font-family: sans-serif;*/
    /*text-transform: uppercase;*/
    /*font-size: 24px;*/
    /*letter-spacing: 2px;*/
    /*color: #fff;*/
    /*text-decoration: none;*/
}
.colored-button svg,
.colored-button svg rect
{
    position: absolute;
    left: .01rem;
    top: .01rem;
    width: 100%;
    height: 100%;
    fill: transparent;
}
.colored-button svg rect
{
    /*stroke: #fff;*/
    stroke: #ED661E;
    /*stroke: #366D7E;*/
    stroke-width: 3;
    transition: 1s;
    stroke-dasharray: 500,500;
    stroke-dashoffset: 0;
}
.colored-button:hover svg rect
{
    stroke-dasharray: 80,400;
    stroke-dashoffset: 300;
    /*stroke: #ED661E;*/
    stroke: #366D7E;
}
